<!-- yoyoyo

variant description goes here



-->

{%- for variant in product.variants -%}
    {%- if variant.metafields.custom.description != blank -%}
        <div class="variant-description-container" data-variant-id="{{ variant.id }}">{{ variant.metafields.custom.description | metafield_tag }}</div>
    {%- endif -%}
{%- endfor -%}