<!-- yoyoyo

variant description goes here



-->

{%- for variant in product.variants -%}
    {%- if variant.metafields.custom.description != blank -%}
        <div class="variant-description-container hidden" data-variant-id="{{ variant.id }}">{{ variant.metafields.custom.description | metafield_tag }}</div>
    {%- endif -%}
{%- endfor -%}

<style>
    .variant-description-container.hidden { display: none; }
</style>
<script defer>
    document.addEventListener("DOMContentLoaded", function(){
        console.log('hello??')

        var vs = document.getElementsByTagName('variant-selects');
        if (!vs.length) { return; }
        var vsParent = vs[0].parentNode;

        var observer = new MutationObserver(function(mutationsList, observer) {
            for (const mutation of mutationsList) {
                if (mutation.type === 'childList') {
                    for (const node of mutation.addedNodes) {

                        console.log('yo? ' + node.tagName)

                        if (node.tagName === 'SCRIPT') {
                            console.log('A script element was added to the DOM:', node.src || 'inline script');
                            // You can add further logic here

                            // Optional: stop observing once the script is found
                            // observer.disconnect();
                        }
                    }
                }
            }
        });

        observer.observe(vsParent, { childList: true, subtree: true });

        return;
    });
</script>