<!-- yoyoyo

variant description goes here



-->

{%- for variant in product.variants -%}
    {%- if variant.metafields.custom.description != blank -%}
        <div class="variant-description-container hidden" data-variant-id="{{ variant.id }}">{{ variant.metafields.custom.description | metafield_tag }}</div>
    {%- endif -%}
{%- endfor -%}

<style>
    .variant-description-container.hidden { display: none; }
</style>
<script defer>
    function parseSelectedVariant(vs) {
    
        console.log('parse selected variant!')
        console.log(vs);

        var s = vs.querySelector('[data-selected-variant]');
        if (!s.length) { return; }
        s = s[0];

        console.log('huh?')
        console.log(s.innerHTML);

        return;

        var data = JSON.parse(s.innerHTML);
        console.log(data);
    }

    document.addEventListener("DOMContentLoaded", function(){
        console.log('hello??')

        var vs = document.getElementsByTagName('variant-selects');
        if (!vs.length) { return; }
        vs = vs[0]
        
        parseSelectedVariant(vs);

        var observer = new MutationObserver(function(mutationsList, observer) {
            for (const mutation of mutationsList) {
                if (mutation.type === 'childList') {
                    for (const node of mutation.addedNodes) {
                        if (node.tagName === 'VARIANT-SELECTS') {
                            parseSelectedVariant(node);
                        }
                    }
                }
            }
        });

        observer.observe(vs.parentNode, { childList: true, subtree: true });

        return;
    });
</script>